@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 5px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background: #dfdfdf;
    height: 1px;
}

::-webkit-scrollbar-thumb {
    background: #7c7c7c;
    border-radius: 10px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #9a9898;
}

input:checked ~ .dot {
    transform: translateX(100%);
    background-color: #48bb78;
  }
